.rectangle1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.rectangle1-rectangle1 {
  gap: 17px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0 326px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(213, 213, 213, 1);
}
.rectangle1-frame1 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
}
.rectangle1-image {
  width: 283px;
  height: 281px;
  margin-top: 10%;
  object-fit: cover;
}
.rectangle1-text {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 40px;
  font-style: Medium;
  margin-top: 4%;
  text-align: left;
  font-family: Lato;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.rectangle1-text5 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Lato;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
