html, body{
  margin: 0;
  background-color: #D5D5D5;
}


img{
  width: 40%;
  display: block;
  margin: auto;
  margin-top: 10%;
}


@-webkit-keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}

.spin {
  -webkit-animation: rotating 20s linear infinite;
}